.LoginFormContainer {
    text-align: center;
    background-color: #1C1D1F;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

@media screen and (min-width: 1000px) {
    .LoginForm {
        --radius: 0.55555vw;
        --width: 35.3vw;
        --height: 31.89vw;
        width: var(--width);
        height: var(--height);
        background-color: #2D2F36;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: var(--radius);
        color: white;
    }
}

@media screen and (max-width: 999px) {
    .LoginForm {
        --radius: 0.55555vw;
        --width: 48vw;
        --height: 47.05vw;
        width: var(--width);
        height: var(--height);
        background-color: #2D2F36;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: var(--radius);
        color: white;
    }
}

@media screen and (max-width: 600px) {
    .LoginForm {
        --radius: 0.55555vw;
        --width: 70vw;
        --height: 63.24vw;
        width: var(--width);
        height: var(--height);
        background-color: #2D2F36;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: var(--radius);
        color: white;
    }
}

.InputEmail {
    --radius: 6px;
    width: 70.8%;
    height: 13.07%;
    background-color: #3F414B;
    margin-top: 23.3%;
    border: 1px solid #3F414B;
    border-radius: var(--radius);
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    min-height: 1.5em;
    font-size: 1.125em;
    line-height: 25px;
    padding-left: 2%;
    padding-right: 2%;
}

.InputPassword {
    --radius: 6px;
    width: 70.8%;
    height: 13.07%;
    margin-top: 6.1%;
    color: white;
    background-color: #3F414B;
    border: 1px solid #3F414B;
    border-radius: var(--radius);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125em;
    min-height: 1.5em;
    line-height: 25px;
    padding-left: 2%;
    padding-right: 2%;
}

input:focus {
    outline: none !important;
    border: 1px solid #F2C94C;
    border-radius: var(--radius);
}

.LoginButton {
    --radius: 6px;
    width: 74.8%;
    height: 13.07%;
    margin-top: 9.8%;
    color: white;
    background-color: #F2C94C;
    border: 1px solid #F2C94C;
    border-radius: var(--radius);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 25px;
    min-height: 1.5em;
    text-align: center;
}

.HomePageContainer {
    text-align: center;
    background-color: #484D57;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.DetailContainer {
    --radius: 0.55555vw;
    --width: 47.91vw;
    --height: 81.8vh;
    width: var(--width);
    height: var(--height);
    background-color: #3B3E46;
    margin-top: 5.4vw;
    margin-right: 8.01vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.ListContainer {
    --radius: 0.55555vw;
    --width: 35.27vw;
    --height: 81.8vh;
    width: var(--width);
    height: var(--height);
    background-color: #2D2F36;
    margin-top: 5.4vw;
    margin-left: 8.75vw;
    display: flex;
    overflow: hidden;
    /* Hide vertical scrollbar */
    flex-direction: column;
    align-items: center;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.UserDataListView {
    --width: 100%;
    --height: 81.12%;
    width: var(--width);
    height: var(--height);
    background-color: #2D2F36;
    margin-top: 7.11vh;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
}

.UserListItem {
    --radius: 0.55555vw;
    --width: 74.8%;
    --height: 81.8vh;
    width: var(--width);
    margin-right: 4.72%;
    display: flex;
    background-color: #3F414B;
    border-radius: var(--radius);
    margin-bottom: 1.04vw;
}

.Avatar {
    border-radius: 50%;
    width: 3.05vw;
    height: 3.05vw;
    margin-left: 1.87vw;
    margin-top: 1.04vw;
    margin-bottom: 1.041vw;
    margin-right: 1.8vw;
}

.UserNumber {
    color: #F2C94C;
    margin-right: 0.7vw;
    font-size: 1.125em;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    margin-top: 1.6vw;
    margin-bottom: 1.6vw;
}

.UserName {
    color: white;
    margin-right: 1.8vw;
    font-size: 1.125em;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    margin-top: 1.6vw;
    margin-bottom: 1.6vw;
    text-align: left;
}

.ListPageController {
    --width: 90%;
    --height: 8.33vh;
    width: var(--width);
    height: var(--height);
    background-color: #1F1F1F;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.ButtonGroup {
    display: flex;
}

.PageNumberButton {
    --radius: 0.55555vw;
    --width: 2.152vw;
    --height: 2.152vw;
    width: var(--width);
    height: var(--height);
    background-color: #2D2F36;
    border-radius: var(--radius);
    border-width: 0px;
    margin-right: 0.84vw;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1em;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
}

.SelectedPageNumberButton {
    --radius: 0.55555vw;
    --width: 2.152vw;
    --height: 2.152vw;
    width: var(--width);
    height: var(--height);
    background-color: #878faa;
    border-radius: var(--radius);
    border-width: 0px;
    margin-right: 0.84vw;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1em;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
}

.NextPrevPageButton {
    --radius: 0.55555vw;
    --height: 2.152vw;
    height: var(--height);
    background-color: #2D2F36;
    border-radius: var(--radius);
    margin-left: 0.84vw;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
    color: white;
    font-size: 1em;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
}

.UserDetailTitle {
    --width: 84%;
    --height: 12vh;
    width: var(--width);
    height: var(--height);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    border-bottom-color: #2D2F36;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.UserNameText {
    color: white;
    font-size: 1.5em;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
}

.UserIDText {
    color: #F2C94C;
    font-size: 1.5em;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
}